* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 10vh 0;
}

img {
  width: 80%;
  display: block;
  margin: 20vh auto;
  filter: grayscale(100%);
}
